#sidebar 
    div:nth-child(3)
        background-color: #29539b
        background-image: radial-gradient(circle at top right, rgb(35, 149, 75) 0%, rgb(21, 104, 51) 48%,rgb(27, 123, 62) 48%, rgb(19, 81, 41) 53%,rgb(32, 121, 65) 53%, rgb(22, 89, 46) 56%,rgb(35, 147, 74) 56%, rgb(21, 105, 52) 69%,rgb(21, 106, 52) 69%, rgb(17, 57, 31) 100%)
    div
        color:#fff   
    span
        font-weight: bold