$xs: 0px
$sm: 600px
$md: 900px
$lg: 1220px
$xl: 1536px

@media (max-width: $sm)
    .col-3
        display: none
    .col-4
        display: none
    .col-5
        display: none
    .col-6
        display: none
    .col-7
        display: none
    .col-8
        display: none
    .col-x
        display: none

@media (max-width: $md)
    .col-5
        display: none
    .col-6
        display: none
    .col-7
        display: none
    .col-8
        display: none
    .col-x
        display: none

@media (max-width: $lg)
    .col-7
        display: none
    .col-8
        display: none
    .col-x
        display: none

@media (max-width: $xl)
    .col-x
        display: none
