$xs: 0px
$sm: 600px
$md: 900px
$lg: 1220px
$xl: 1536px

$editButonColor:#ff9100
$deleteButonColor:#dd3333
$viewMoreColor:#959595

@media (max-width: $sm)
    .col-3
        display: none
    .col-4
        display: none
    .col-5
        display: none
    .col-6
        display: none
    .col-7
        display: none
    .col-8
        display: none
    .col-x
        display: none

@media (max-width: $md)
    .col-5
        display: none
    .col-6
        display: none
    .col-7
        display: none
    .col-8
        display: none
    .col-x
        display: none

@media (max-width: $lg)
    .col-7
        display: none
    .col-8
        display: none
    .col-x
        display: none

@media (max-width: $xl)
    .col-x
        display: none

.icon-crud
    margin: 4px
    transition: all .2s ease-in-out 
    cursor: pointer
.icon-crud:hover
    transform: scale(1.4)
.edit
    color:$editButonColor
.delete
    color:$deleteButonColor
.more
    color:$viewMoreColor